/* contains configuration and macro helper for layer setup */

#include <behaviors.dtsi>

#include "zmk-helpers/helper.h"

#define QUICK_TAP_MS 175

&sl {
    release-after-ms = <0>;
    ignore-modifiers;
};

&sk {
  release-after-ms = <5000>;
  // quick-release;
  // display-name = "SK ON";
};

#define MAKE_HLK(NAME, HOLD, TAP)                                             \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>;                           \
                flavor = "balanced";                                          \
                tapping-term-ms = <200>; quick-tap-ms = <QUICK_TAP_MS>;)

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <200>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <100>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS) // Right-hand HRMs.

MAKE_HLK(hlk_default, &mo, &kp)
MAKE_HLK(hlk_nav_bspc, &mo, &morph_bspc)

#define SK_STOP &kp LANG9

/ {
	behaviors {
    caps_word: caps_word {
      compatible = "zmk,behavior-caps-word";
      #binding-cells = <0>;
      continue-list = <BACKSPACE MINUS UNDER PERIOD SLASH PERIOD>;
      // ignore-modifiers; 
    };
	};
};